.post {
  display: flex;
  align-content: center;
  margin: '15px';
}

.post__like {
  display: flex;
  align-content: center;
}

.post__comment {
  display: flex;
  align-content: center;
}

.post__input {
  flex: 1;
}
.post__button {
  flex: 0;
  padding: 10;
}
